//color
$blue-primary: #0C6DFA;
$white: #ffffff;

$linear-oragne: linear-gradient(209.56deg, #FCC68F 3.39%, #FF9C9D 60.39%, #FC8ABC 115.67%);

$linear-blue: linear-gradient(180deg, #5CB7FF -6.11%, #2194EF 105.73%);

$main: #2B2934;
$mainHover: #4DADFF;
$secondary: #6A7497;

$brdColor: #E9F1FA;