@import url(./../lib/swiper/swiper.min.css); /*
global
 */
html {
  margin-top: 0 !important;
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
}

body {
  line-height: 1.42857143;
  background-color: #fff;
  font-family: "Liberation sans", Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
}

.met_content {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

/*
header
 */
header.met_content, header .row-fluid {
  margin-bottom: 0;
}

.met_logo {
  margin: 26px 0 0 0;
  display: block;
}

.met_logo_loading {
  opacity: 0;
}

header {
  position: relative;
  z-index: 2;
}
header aside {
  float: right;
  margin: 0 0 12px 0;
}
header aside > a {
  font-size: 20px;
  display: block;
  margin-right: 20px;
  float: left;
  text-decoration: none;
}
header aside > nav {
  float: left;
  list-style: none;
}
header aside > nav ul, header aside > nav li {
  float: left;
  list-style: none;
}
header aside > nav ul {
  margin: 0;
}
header nav {
  border-left: 1px solid #CED0D6;
}
header aside > nav li a {
  margin-left: 16px;
  font-size: 12px;
  color: #BDC0C7;
  line-height: 18px;
}

.top_phone {
  text-align: right;
  margin: 22px 0 0 0;
  display: block;
}
.top_phone a {
  font-size: 34px;
  line-height: 36px;
  color: #656870;
}

.top_email {
  text-align: right;
  margin: 4px 0;
  display: block;
}
.top_email a {
  font-size: 26px;
  line-height: 26px;
  color: #656870;
}

@media only screen and (max-width: 1170px) {
  .top_phone a {
    font-size: 28px;
  }
  .top_email a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .top_phone {
    margin: 0;
  }
  .top_phone a {
    font-size: 24px;
  }
  .top_phone p {
    margin: 0 0 6px 0;
  }
  .top_email a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .top_phone a {
    font-size: 21px;
  }
  .top_email a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .top_phone a {
    font-size: 22px;
  }
  .top_email a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .top_phone a {
    font-size: 20px;
  }
  .top_email a {
    font-size: 12px;
  }
}
.top_icon_row {
  width: 27px;
  height: 27px;
  display: block;
  margin: 0 4px 0 0;
}

.top_icon_16 {
  background: url(../images/custom/top_icons_sprite.png) 0 0;
}
.top_icon_16:hover {
  background: url(../images/custom/top_icons_sprite.png) 0 -26px;
}

.top_icon_yt {
  background: url(../images/custom/top_icons_sprite.png) -80px 0;
}
.top_icon_yt:hover {
  background: url(../images/custom/top_icons_sprite.png) -80px -26px;
}

.top_icon_in {
  background: url(../images/custom/top_icons_sprite.png) -26px 0;
}
.top_icon_in:hover {
  background: url(../images/custom/top_icons_sprite.png) -26px -26px;
}

.top_icon_mp {
  background: url(../images/custom/top_icons_sprite.png) -108px 0;
}
.top_icon_mp:hover {
  background: url(../images/custom/top_icons_sprite.png) -108px -26px;
}

.top_icon_fb {
  background: url(../images/custom/top_icons_sprite.png) -54px 0;
}
.top_icon_fb:hover {
  background: url(../images/custom/top_icons_sprite.png) -54px -26px;
}

.top_icon_cl {
  background: url(../images/custom/top_icons_sprite.png) -134px 0;
}
.top_icon_cl:hover {
  background: url(../images/custom/top_icons_sprite.png) -134px -26px;
}

.top_menu_small {
  margin-top: 5px;
}
.top_menu_small ul li a {
  margin-left: 6px;
}

.top_circle {
  display: block;
  margin: 30px auto 0 auto;
  overflow: hidden;
  color: #656870;
  font-weight: bold;
}
.top_circle img {
  margin: 0 auto;
}
.top_circle p {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 34px 0 0 0;
}

@media only screen and (max-width: 1170px) {
  .top_circle {
    margin: 35px 0 0 0;
  }
  .top_circle p {
    font-size: 12px;
    margin: 12px 0 0 0;
  }
}
/*
breadcrumbs
 */
.kama_breadcrumbs {
  padding: 30px 0;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.015em;
  color: #0C6DFA;
}
.kama_breadcrumbs a span {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.015em;
  color: #6A7497;
  opacity: 0.5;
}
.kama_breadcrumbs .kb_sep {
  position: relative;
  margin: 0 20px 0 24px;
  width: 1px;
  height: 18px !important;
  opacity: 0.2;
  border-right: 1px solid #6A7497;
  display: inline-block;
  top: 4px;
}

/*
to top
 */
#backTop {
  display: inline-block;
  background: url("../img/arowtop.png") no-repeat;
  width: 56px;
  height: 61px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  left: 90px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backTop:hover {
  cursor: pointer;
}

#backTop.show {
  opacity: 1;
  visibility: visible;
}

/*
footer
 */
.footer {
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%;
  background: #F4F9FF;
}
.footer__columns {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-top: 52px;
  padding-bottom: 82px;
  transition: all ease-in 1s;
}
.footer__columns.show {
  display: grid;
  transition: all ease-in 1s;
}
@media (max-width: 992px) {
  .footer__columns {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 32px;
  }
}
.footer__contact {
  margin-top: 31px;
  max-width: 551px;
  width: 100%;
}
.footer__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .footer__address {
    padding-bottom: 0;
    margin-bottom: 8px;
  }
}
.footer__address p {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2B2934;
}
.footer__social {
  display: flex;
  gap: 24px;
}
.footer__social a img {
  width: 24px;
}
.footer__map {
  position: relative;
}
@media (max-width: 992px) {
  .footer__map {
    display: none;
  }
}
.footer__map-img {
  width: 100%;
  pointer-events: none;
}
.footer__map-robot {
  position: absolute;
  left: -39px;
  bottom: -33px;
}
.footer__connection {
  margin-top: 60px;
  display: grid;
  gap: 16px;
}
@media (max-width: 992px) {
  .footer__connection {
    margin-top: 0;
    padding-left: 36px;
  }
}
.footer__mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0C6DFA;
}
.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2B2934;
}
.footer__right {
  padding-top: 75px;
}
@media (max-width: 992px) {
  .footer__right {
    padding-top: 0;
  }
}
.footer__bottom {
  background: #E9F1FA;
}
@media (max-width: 992px) {
  .footer__bottom {
    background: transparent;
  }
}
.footer__bottom-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
@media (max-width: 992px) {
  .footer__bottom-flex {
    gap: 17px;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .footer__bottom-flex a:first-child {
    display: none;
  }
}
.footer__bottom .policy {
  ont-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0C6DFA;
}
@media (max-width: 992px) {
  .footer__bottom .policy {
    grid-row-start: 2;
  }
}
.footer__bottom p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2B2934;
}

.footer-home {
  margin-top: 60px;
}
@media (max-width: 992px) {
  .footer-home {
    margin-top: 30px;
    padding-top: 20px;
  }
}
.footer-home .footer__columns {
  display: grid;
}

.footer-small {
  background: linear-gradient(180deg, #5CB7FF -6.11%, #2194EF 105.73%);
}
.footer-small__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .footer-small__wrapp {
    flex-direction: column;
    padding: 2rem 0px;
  }
}
.footer-small__wrapp > * {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}
@media (max-width: 992px) {
  .footer-small__wrapp > * {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
  }
}
.footer-small__address {
  display: inline-block;
  padding-left: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: url(../img/location-white.svg) no-repeat left center;
}
.footer-small__action {
  display: inline-block;
  padding: 22px;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.footer-small__social {
  display: flex;
  justify-content: flex-end;
}
.footer-small__social a + a {
  margin-left: 25px;
}

#toggleFooter {
  position: absolute;
  top: 33px;
  right: 0;
  width: 32px;
  height: 32px;
  background: url("../img/chest.svg") no-repeat center;
  cursor: pointer;
}
@media (max-width: 992px) {
  #toggleFooter {
    top: 15px;
  }
}/*# sourceMappingURL=style.css.map */